/* Fonts */
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica-neue-bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 700;
}
@font-face {
  font-family: 'Calibre';
  src: url('../fonts/calibre-semibold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/calibre-semibold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/calibre-semibold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/calibre-semibold-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 700; 
}
@font-face {
  font-family: 'Calibre';
  src: url('../fonts/calibre-medium-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/calibre-medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/calibre-medium-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/calibre-medium-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 400;
}
@font-face {
  font-family: 'Calibre';
  src: url('../fonts/calibre-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/calibre-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/calibre-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/calibre-regular-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 100;
}

/* SECTION STYLING */
body {
    margin: 0;
    position: relative;
    background-color: #ffffff;
}
.wrapper {
  height: auto;
}
.inner {
    width: 90vw;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0.5rem 1rem;
}
section {
    padding: 3rem 2rem 2rem 2rem;
    min-height: 100vh;
    opacity: 0;
}
#cover {
    min-height: 100vh;
    background-image: url('../img/header.png');
    background-size: cover;
    background-position: center;
    position: relative;
    /* white-space: nowrap; */
    text-align: center;
}
.center-area {  
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#conference {
  background-color: #2D318F;
  color: #fff;
}
#schedule {
  background-color: #fff;
}
#sponsors, #team {
  background-color: #FFB813;
    background-image: url('../img/bg_orange.png');
    background-size: cover;
    background-position: center;
}
#footer {
    background-color: #2D318F;
    color: #fff;
    padding: 0 0 16px;
}


/* TEXT STYLES */
body {
  font-family: 'Calibre', Tahoma, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #242424;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4 {
    text-align: left;
}
h1 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 48px;    
    line-height: 48px;
    font-weight: 700;
    margin-top: 24px;
}
h2 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 24px;
    line-height: 32px;
    margin: 0 auto 1em;
    font-weight: 700;
}
h3 {
    font-size: 20px;
    line-height: 24px;
    margin: 0.75rem auto 0;
    /* text-transform: uppercase; */
    font-weight: 700;
}
h4 {
    font-size:  20px;
    line-height: 24px;
    margin: 1rem 0 0 0;
    font-weight: 400;
    text-align: left;
}
ul {
  margin-top: 16px;
}
ul, li {
  list-style-type: none;
  padding-left: 0;
}
p, li {
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
}
small, .small, .small li {
    font-weight: 100;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
  h3 {
    font-size: 24px;
    line-height: 30px;
  }
  p, li {
    font-size: 24px;
    line-height: 32px;
  }
  small, .small, .small li {
    font-weight: 100;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 8px;
  }
}


a:link {
    color: #FF9811;
    text-decoration: none;
}
a:visited {
  color: #FF9811;
}
a:active, a:focus, a:hover {
  color: #FF9811;
    text-decoration: underline;
}
input {
    background-color: #242424;
    color: #fff;
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
    border-radius: 8px;
    padding: 12px 32px 8px 16px;
    border: 0;
    float: left;
    text-align: left;
    margin-top: 8px;
}

/** Navbar Styles **/
.navbar li a {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
}
.navbar li a:hover {
  color: #FF9811;
}
.nav-pills .nav-link.active {
  background: none;
  color: #FF9811;
}

/* Navbar */
.navbar {
  padding: 8px;
}
.navbar-bg {
  background-color: #2D318F;
}
.navbar-toggler {
  margin: 0;
  padding: .25rem;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-brand {
    position: absolute;
    right: 0px;
    top: 12px;
}
.navbar-nav {
  margin: 0;
}
.navbar-nav .nav-link {
    border-radius: 0;
    text-align: center;
}


@media screen and (max-width: 575px) {
  .navbar-brand {
    top: 8px;
  }
  section {
    padding: 2rem 1rem;
  }
  .navbar {
      padding: 0;
  }
}

/** CTA Button **/
.cta {
    display: inline-block;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;    
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
    background-color: #FF9811;
    color: #fff !important;
    padding: 8px 24px 8px;
    border-radius: 24px;
    border: 0;
    float: left;
}
.cta:hover {
  background-color: #F05A2A;
}
/* .navbar .cta {
    padding: 2px 24px 6px;
} */



/*** COLOR/STYLE OVERRIDES ***/
.light {
  color: #fff !important;
}
.dark {
  color: #242424 !important;
}
.orange {
  color: #FF9811 !important;
}
.blue {
  color: #2D318F !important;
}
.bold {
  font-weight: 400 !important;
}
.highlight {
  background-color: #FFFBDA !important;
}


/*** Special ***/
hr {
  color: #242424;
  opacity: 0.1;
}
.logo {
  margin-top: 48px;
}
.social {
  margin: 8px 4px;
  height: 32px;
}
.footerright, .footerright h3 {
  text-align: right;
}
@media (max-width: 768px) {
  .footerright, .footerright h3 {
    text-align: left;
  }
}

/*** Tables ***/
.tr {
  border-top: 1px solid #e9ecef;
  vertical-align: top;
  padding: 0.75rem 0.75rem 1rem 0.75rem;
}
.tr:hover {
  background-color: #e9ecef;
}
.tr div {
  padding: 0;
}


/*** PULSING BUTTON: https://codepen.io/seansean11/pen/dhwzj ***/
.pulse-button {
  margin: 79px auto 16px;
  display: inline-block;
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
  -webkit-animation: pulse 1.5s infinite;
}

.pulse-button:hover {
  -webkit-animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}
@media screen and (min-width: 1024px) {
   .pulse-button {
      margin: 79px auto 16px;
   }
}